<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddBrand</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/addBrand.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow mt-5">
                <div class="card-body">
                    <h2 class="card-title">Добавить бренд</h2>
                    <form th:action="@{/brands/add}"
                          th:method="post"
                          th:object="${brandsModel}">
                        <div class="mb-3">
                            <label for="brandName" class="form-label">Название бренда</label>
                            <input type="text" class="form-control" id="brandName" name="brandName" th:field="*{name}"
                            th:errorclass="is-invalid">
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error message</p>
                        </div>
                        <div class="mb-3">
                            <label for="country" class="form-label">Страна производителя</label>
                            <input type="text" class="form-control" id="country" name="country" th:field="*{country}"
                                   th:errorclass="is-invalid">
                            <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Error message</p>
                        </div>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>