<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container profile">
    <div class="row" th:object="${user}">
        <div class="col-md-6">
            <h2>Личный кабинет</h2>
            <img th:src="*{imageURL}" alt="Profile Picture" class="profile-picture">
        </div>
        <div class="col-md-6">
            <h3>Информация о пользователе</h3>
            <h5 th:text="*{login}"></h5>
            <h5 th:text="*{firstName}"></h5>
            <h5 th:text="*{lastName}"></h5>
            <button type="button" class="btn btn-primary">Редактировать профиль</button>
        </div>
    </div>
</div>

<div class="container mt-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Модель</th>
            <th scope="col">Цена</th>
            <th scope="col">Дата покупки</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>