<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img th:src="${modelInfo.imageURL}" class="card-img-top" alt="Brand Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${modelInfo.brandName} + ' ' + ${modelInfo.name}"></h5>
                    <p class="card-text">Category: <span th:text="${modelInfo.category.name}"></span></p>
                    <p class="card-text">Engine: <span th:text="${modelInfo.engine.name}"></span></p>
                    <p class="card-text">Transmission: <span th:text="${modelInfo.transmission.name}"></span></p>
                    <p class="card-text">Year: <span th:text="${modelInfo.year}"></span></p>
                    <p class="card-text">Start year: <span th:text="${modelInfo.startYear}"></span></p>
                    <p class="card-text">End year: <span th:text="${modelInfo.endYear}"></span></p>
                    <p class="card-text">Description: <span th:text="${modelInfo.description}"></span></p>
                    <p class="card-text" sec:authorize="hasRole('Admin')">Created: <span th:text="${#temporals.format(modelInfo.created, 'dd.MM.yyyy HH:mm')}"></span></p>
                    <p class="card-text" sec:authorize="hasRole('Admin')">Modified: <span th:text="${#temporals.format(modelInfo.modified, 'dd.MM.yyyy HH:mm')}"></span></p>
                    <div class="d-grid gap-2">
                        <a th:href="@{/models/modelDelete/{id}(id=${modelInfo.id})}" class="btn btn-danger" sec:authorize="hasRole('Admin')">Удалить</a>
                        <a th:href="@{/models/edit/{id}(id=${modelInfo.id})}" class="btn btn-primary" sec:authorize="hasRole('Admin')">Изменить</a>
                        <!-- В showModelDetail.html -->
                        <form th:action="@{/offers/buy}" th:object="${modelInfo}" th:method="post">
                            <input type="hidden" th:field="*{name}" th:value="${modelInfo.name}" />
                            <input type="hidden" th:field="*{id}" th:value="${modelInfo.id}" />
                            <button type="submit">Купить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>